#canvas {
    background-image: url(/docs/assets/under.jpg);
    background-repeat: no-repeat;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 60px;
}

#start{
    width: 10vw;
    height: 10vh;
    font-size: 40px;
    text-transform: uppercase;
    background-color: rgb(62, 202, 158);
    color: white;
    position: absolute; 
    border: none;
    border-radius: 20px;
}
